

.auth_form {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login_switch{
    margin-left: -15px;
    margin-right: 10px;
}

.auth_switch {
    display: flex;
    flex-direction: row;
    width: 100px;
    justify-content: space-between;
}

.input_forms{
    margin-top: 20px;
}

.input_fields {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reg_button{
    background-color: #46A358;
    color: #ffffff;
    height: 45px;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
}

.reg_switch{
    color: #46A358;
    border: solid;
    border-width: 0 0 0 1px;
    border-color: rgb(0, 0, 0);
    padding-left: 10px;
}

.reg_desc{
    margin-bottom: 0px;
    text-align: center;
}

.reg_links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.link_button-g{
    background-color: #fff;
    border-color: #EAEAEA;
    height: 45px;
}

.link_button-f{
    background-color: #fff;
    border-color: #EAEAEA;
    height: 45px;
    margin-top: 15px;
}


.input_data{
    height: 30px;
    border-radius: 5px;
    border-color: #EAEAEA;
    border-width: 1px;
}

.bottom{
    height: 10px;
    background-color: #46A358;
    margin-top: 30px;
}