@font-face {
    font-family: 'Cera Pro Regular';
    src: url('../fonts/CeraPro-Regular.eot') format(eot), 
        url('../fonts/CeraPro-Regular.ttf') format(ttf), 
        url('../fonts/CeraPro-Regular.woff') format(woff);
    font-weight: 400;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('../fonts/CeraPro-Medium.eot') format(eot), 
        url('../fonts/CeraPro-Medium.ttf') format(ttf), 
        url('../fonts/CeraPro-Medium.woff') format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('../fonts/CeraPro-Bold.eot') format(eot), 
        url('../fonts/CeraPro-Bold.ttf') format(ttf), 
        url('../fonts/CeraPro-Bold.woff') format(woff);
    font-weight: 700;
}

@font-face {
    font-family: 'Hanged Letters';
    src: url('../fonts/Hanged-Letters.ttf') format('truetype');
    font-weight: 700;
}

*{
    margin: auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}

.side-nav{
    width: 310px;
    height: 774px;
    flex-shrink: 0;
    background: #FBFBFB;
    /* margin: 171px 0 0 135px; */
}

.categories{
    color: #3D3D3D;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 14px 0 0 18px;
}

.list-nav{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding: 7px 0 0 30px;
}

.list-current{
    color: #46A358;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
}

.sale-banner{
    width: 310px;
    height: 470px;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%), url(../img/flower-sale.png) no-repeat;
    /* margin: 0px 0px 0px 135px; */
    background-position: 55% 100%;
}

.sale-name{
    color: #46A358;
    font-family: "Hanged Letters";
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    padding: 20px 0 0 22px;
}

.discount{
    color: #3D3D3D;
    text-align: center;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 11px 0 0 0;
}

.top-sphere{
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    border-radius: 29px;
    background: linear-gradient(145deg, rgba(70, 163, 88, 0.30) -46.09%, rgba(70, 163, 88, 0.00) 103.28%);
    margin: 0px 0px 0px 38px;
}

.left-square{
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 7px;
    border: 2px solid #46A358;
    opacity: 0.2;
    margin: 160px 0px 0px 15px;
}

.right-sphere{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 29px;
    background: linear-gradient(145deg, rgba(70, 163, 88, 0.30) -46.09%, rgba(70, 163, 88, 0.00) 103.28%);
    margin: 40px 0px 0px 240px;
}

.switchers{
    margin: 171px 0 0 50px;
    display: flex;
    gap: 400px;
}

.tabs{
    display: flex;
    flex-direction: row;
    gap: 35px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    height: 26px;
    width: 300px;
}

.tabs-active{
    color: #46A358;
    font-family: "Cera Pro Bold", sans-serif;
    font-weight: 700;
    border-bottom: 3px solid #46A358;
    padding-bottom: 7px;
    margin-top: 5px;
}

main{
    display: flex;
    flex-direction: row;
    width: 1200px;
}

.sorting{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    gap: 5px;
    margin-right: -45px;
}

.card-product{
    width: 258px;
    height: 300px;
    flex-shrink: 0;
    background: #FBFBFB;
    mix-blend-mode: multiply;
    display: flex;
}

.products{
    display: flex;
    flex-flow: row wrap;
    gap: 120px 33px;
    margin: 31px 0 0 50px;
    width: 900px;
}

.card-text{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-bottom: -50px;
    gap: 6px;
    margin-left: 0;
}

.card-title{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.card-price{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    margin-left: 0;
}

.card-product.item1{
    background: url(../img/flower1.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 250px;
}

.card-product.item2{
    background: url(../img/flower2.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 250px;
}

.card-product.item3{
    background: url(../img/flower3.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 250px;
}

.card-product.item4{
    background: url(../img/flower4.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 224px 286px;
    background-position: 75% 50%;
}

.card-product.item5{
    background: url(../img/flower5.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 250px;
}

.card-product.item6{
    background: url(../img/flower6.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 250px;
}

.card-product.item7{
    background: url(../img/flower7.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 250px;
}

.card-product.item8{
    background: url(../img/flower8.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 250px;
}

.card-product.item9{
    background: url(../img/flower9.png) #FBFBFB 50% / cover no-repeat;
    mix-blend-mode: multiply;
    background-size: 250px;
}

.pagination{
    display: flex;
    width: 215px;
    height: 35px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin: 150px 725px;
}

.page.current{
    color: #FFF;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    border-radius: 4px;
    background: #46A358;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    padding: 10px 13px 9px 14px;
}

.page{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 9px 13px 10px;
}

.showcase{
    width: 900px;
}

.side-menu{
    margin: 171px 0 0 0;
}

.arrow-top{
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0px 3.333px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.page-next{
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.arrow-next{
    transform: rotate(-90deg);
    padding: 9px 8px 8px 9px;
}

.arrow-method{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px 5px 0 0;
}